@import "fuentes.css";
*{margin:0;padding:0;}
.webpage{width:100%;display:block;}
a:hover{
    text-decoration: none;
}
#menu{
    width:100%;
    height:50px;
    position:fixed;
    display:flex;
    align-items:center;
    z-index:100;
    transition: all 0.5s;
    background: #333;
    -webkit-transition:all 0.5s;
}
.container-own{
    opacity: 1;
    transition: all 0.3s;
    -webkit-transition:all 0.3s;
}
#menu .nav-menu{
    width:95%;
    height:100%;
    margin:0 auto;
    /* align-items: stretch; */
}
#menu .nav-menu .row{
    width:99%;
    height:100%;
}
#menu .nav-menu .row .bloque{
    width:50%;
    height:100%;
    font-family:'pierSans';
}
#menu .nav-menu .row .bloque ul{
    height:100%;
}
#menu .nav-menu .row .bloque ul li, #menu .nav-menu .row .bloque ul li a{
    list-style:none;
    float:left;
    color:#fff;
    background-color:transparent;
}
#menu .nav-menu .row .bloque ul li a:hover{
    text-decoration: none;
    color:#333;
    background-color:#ffde0b;
}
.left ul{
    display:flex;
    align-items:center;
}
.left ul li{
    margin-left:2%;
    margin-right: 2%;
}
.left ul li img{
    padding:5px;
    width:40px;
    height: 40px;
}
.right ul li{
    width:25%;
    height:100%;
    text-align: center;
}
.right ul li a{
    width:100%;
    height:100%;
    padding-top: 10%;
    /* display:flex;
    align-items: center; */
    text-align: center;
}
.rightMovile{
    display:none;
}
.bloque.rightMovile button{
    float:right;
    margin:2%;
    margin-top:4%;
    padding:2px;
    display:flex;
    align-items: center;
}
.bloque.rightMovile button i{
    margin:0 auto;
}
@media only screen and (max-width: 759px){
    .right{
        display:none;
    }
    .rightMovile{
        display:block;
    }
}
#menumovile{
    position:absolute;
    right:-220vh;
    width:100%;
    height:50vh;
    background-color:rgba(30, 30, 30, 0.6);
    margin-top:50px;
    transition: all 0.3s;
    -webkit-transition:all 0.3s;
    text-align: center;
}
#menumovile tr td h4 a{
    color:#fff;
}
#menumovile tr td h4 a:hover{
    color:antiquewhite;
}
#menu .fa-bars{
    color:#fff;
}
@media only screen and (max-height: 480px){
    #menumovile{
        height:90vh;
    }
}
.btn{
    border-radius:25px;
    text-align: center;
    font-weight:bold;
}

.btn-pretty{
    background-color:rgba(0,0,0,0.3);
    border:0.25rem solid #065efe;
    padding:0.5rem;
    color:#fff;
    border-radius:0.5rem;
    transition:all 0.2s;
}
.btn-pretty:hover{
    background-color:rgba(255,255,255,0.9);
    box-shadow:#065efe 1px 2px 7px;
    color:#000;
    transition:all 0.2s;
}