/* ROBOTO */
@font-face{
    src: url('../../tipography/Roboto/Roboto-Regular.ttf');
    font-family: 'roboto';
}
@font-face{
    src: url('../../tipography/Roboto/Roboto-Light.ttf');
    font-family: 'roboto light';
}
@font-face{
    src: url('../../tipography/Roboto/Roboto-Bold.ttf');
    font-family: 'roboto bold';
}
@font-face{
    src: url('../../tipography/Roboto/Roboto-Medium.ttf');
    font-family: 'roboto medium';
}
@font-face{
    src: url('../../tipography/Roboto/Roboto-Black.ttf');
    font-family: 'roboto black';
}
@font-face{
    src: url('../../tipography/SinaNova.woff');
    font-family: 'sinaNova';
}
@font-face{
    src: url('../../tipography/ArimaKoshi-Regular.otf');
    font-family: 'arima';
}

/* Pier Sans */
@font-face{
    src: url('../../tipography/PierSans/PierSans-Regular.otf');
    font-family: 'pierSans';
}
@font-face{
    src: url('../../tipography/PierSans/PierSans-Light.otf');
    font-family: 'pierSans light';
}
@font-face{
    src: url('../../tipography/PierSans/PierSans-Bold.otf');
    font-family: 'pierSans bold';
}
@font-face{
    src: url('../../tipography/PierSans/PierSans-Medium.otf');
    font-family: 'pierSans medium';
}
@font-face{
    src: url('../../tipography/PierSans/PierSans-Black.otf');
    font-family: 'pierSans black';
}


