.menu .bloque ul li, a{
    color:#eee;
}
.slider{
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
    background-attachment: fixed !important;
    background-size:cover;
    display: flex;
    align-items: center;

}
.slider .row{
    width:99%;
    height:40%;
    margin:0 auto;
    margin-top:-10%;
}
.anuncio{
    margin:0 auto;
    width:100%;
    height:80%;
    bottom:0;
    text-align: center;
}
.anuncio h1{
    font-family: 'OpenSans bold';
    font-size:5rem;
    font-weight:bold;
    /* color:#333; */
}
.anuncio p{font-family:'OpenSans';font-size:1.1rem;}
.slider .row .col-sm-1{display:flex;align-items:center;}
.boton-slider{
    margin:0 auto;
    width:50%;
    height:30%;
    background-color:rgba(6, 94, 254, 0.5);
    cursor:pointer;
    -webkit-transition:all 0.5s;
    border-radius:15px;
}
#left{
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}
#right{
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}
#display{
    display:flex;
    align-items: center;
}
.boton-slider:hover{
    background-color: rgba(200, 200, 200, 0.6);
    -webkit-transition:all 0.5s;
}
.after{
    height:90vh;
    background-color:#ffde0b;
}
.after.T{
	padding:15%;
	color:#333;
	font-family:'OpenSans';
	text-align:center;
	line-height:2rem;
}
#carrusel{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    /* background-color:#8308b1; */
    background:#2e5bc2;
}
#carrusel .swiper-container {
    margin:0 auto;
    padding:2%;
    padding-top:5%;
    padding-bottom:5%;
    width:95%;
    height:90%;
}
.swiper-pagination{
    bottom:5px;
}
  .swiper-slide {
    font-size: 18px;
    background: #eee;
    color:#333;
    display:flex;
    align-items: center;
    box-shadow: 0 0 0 transparent;
    -webkit-transition: all 0.5s;
    border-radius:5px;
    overflow: hidden;
  }
  .swiper-slide:hover{
      box-shadow:4px 4px 10px rgba(0,0,0,0.4);
      -webkit-transition: all 0.5s;
  }
  .swiper-slide .cont{
      width:100%;
      height:100%;
      margin:0 auto;
  }
  .bloque-image{
      width:100%;
      height:50%;
      overflow: hidden;
  }
  .text{
      width:100%;
      padding:10%;
      text-align: left;
  }
  .text h3{
      text-align:center;
      font-family:'roboto light';
  }
  .text p {
      font-family: 'roboto light';
      font-size:16.5px;
      text-rendering: optimizeLegibility;
      text-align: center;
  }
  .bloque-image img{
    width:100%;
    height:100%;
    -webkit-transition: all 0.8s;
  }
  .bloque-image img:hover{
      width:108%;
      height:108%;
      -webkit-transition: all 0.8s;
  }
  @media screen and (max-width: 768px){
    .after.c{
        height:70vh;
    }
	.anuncio h1{
		font-size:4rem;
	}
	.after.T{
		line-height:1.7rem;
	}
  }
