.registZone{
    width:100%;
    height:140vh;
    display:flex;
    align-items:center;
}
.box{
    margin:0 auto;
    width:90%;
    height:90%;
    padding:4.5%;
    border:1px solid #eee;
    border-radius:5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 9px 0px;
}

.foto-cont{
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
}

#card{
    display:flex;
    align-items:center;
}
.card{
    margin:0 auto;
}

#preview {
    margin:0 auto;
    width:50%;
    height:50%;
    border-radius:10px;
    overflow:hidden;
    outline: none;
}
#preview img {
    width:100%;
    height:100%;
    outline: none;
}

@media screen and (max-width: 767px){
    .registZone{
        height:200vh;
    }
}